 
 
 
 //SASS COLOR VARIABLES
//   $mainBlack:#222;
$mainLightGreen:#40d9ac;
$mainLightGreenBk:#f3fbfb;
$mainDarkerGrey:#333333;
$mainDarkGreen:#013f28;
$mainAlmostBlack: rgb(13, 14, 14);
$lightGrey:#ebebeb;
$midGrey:#757575;