 
 //SASS COLOR VARIABLES
$mainLightGreen:#40d9ac;
$mainMidGreen:#1D5242; 
$mainLightGreenBk:#f3fbfb;
$mainDarkerGrey:#333333;
$mainDarkGreen:#013f28;
$mainAlmostBlack: rgb(13, 14, 14);
$lightGrey:#ebebeb;
$lightlightGrey:#fafafa;
$midGrey:#757575;
$mainRed: rgb(148, 26, 26);