*{
  border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

html{
  scroll-behavior: smooth;
  color: #333333;
}

// keeping 100vh on low content pages
.main{
  min-height: calc(100vh - 200px);
  @media (min-width: 1200px){
        min-height: calc(100vh - 220px);
    }
    @media (min-width: 1600px){
        min-height: calc(100vh - 220px);
    }
}

ul {
  list-style: none;
}
 
body{
  font-family: 'Calibre', sans-serif;
}

a{
  text-decoration: none;
}

//removing blue outline on all buttons
button:focus { outline:0; }

//removing input blue outlines
input:focus {
  outline: none;
}