// html, main, body, section, article, div, header, nav, form, p, span, input, textarea, h1, h2, h3, h4, a, ul, ol, li, figcaption, footer, button, label {
//     margin: 0;
//     padding: 0;
//     border: 0;

//     font-size: 100%;
//     vertical-align: baseline;
//     color: #333333;
//     background: transparent;
//     box-sizing: border-box;
// }

*{
  border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  color: #333333;
}

ul {
  list-style: none;
}
 
body{
  font-family: 'Calibre', sans-serif;
}

a{
  text-decoration: none;
}

//removing blue outline on all buttons
button:focus { outline:0; }

//removing input blue outlines
input:focus {
  outline: none;
}