*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
  color: #333333;
}

ul {
  list-style: none;
}
 
body{
  font-family: 'Calibre', sans-serif;
}

a{
  text-decoration: none;
}

//removing blue outline on all buttons
button:focus { outline:0; }

//removing input blue outlines
input:focus {
  outline: none;
}