.booking-index-container{
    display:flex;
    margin: 130px 32px;
    min-height: calc(100vh - 330px);
    .left-column{
        width:30%;
        margin: 10px;
        display:flex;
        flex-direction: column;
        align-items: center;
        .user-info{
            display:flex;
            justify-content: center;
            margin:30px 0;
            font-size:14px;
             position:sticky;
            top:75px;
            .user-info-container{
                border: 2px solid $mainLightGreen;
                border-radius:50%;
                text-align:center;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                width: 150px;
                height:150px;
                .sub{
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .user-name{
                    font-weight:300;
                    font-size: 20px;
                }
            }
        }
        .user-num-of-bookings{
            font-size: 14px;
            position:sticky;
            top:250px;
        }
    }
    .right-column{
        width:70%;
        margin: 10px;
        .right-column-message{
            margin: 0 10px 30px 10px;
            .right-column-message-0{
                margin-top:80px;
                display:flex;
                flex-direction: column;
                align-items: center;
            }
            .discover-btn-container{
                display:flex;
                justify-content:center;
                .discover-btn{
                    margin-top:20px;
                    background: $mainLightGreen;
                    color:$mainMidGreen;
                    padding:5px 10px;
                    font-size:16px;
                    letter-spacing: 0.2px;
                    border: 2px solid transparent;
                    transition: ease-out all 0.2s;
                    &:hover{
                        cursor:pointer;
                        background: white;
                        color:$mainLightGreen;
                        border: 2px solid $mainLightGreen;
                    }
                }
            }
        }
        .booked-items{
            .card-booked-item{
                display: flex;
                margin-bottom:40px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                .card-image{
                    width:50%;
                    margin:10px;
                    img{
                        width:100%;
                    }
                }
                .card-info-container{
                    width:50%;
                    margin:10px;
                    position:relative;
                    .booking-number{
                        position:absolute;
                        font-size: 18px;
                        padding:15px;
                        width:30px;
                        height:30px;
                        background:$lightGrey;
                        color:$midGrey;
                        right:0;
                        top:0;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }
                    .item-name{
                        font-size: 22px;
                        margin-bottom: 5px;
                        a{
                            border-bottom:1px solid transparent;
                            color:$mainDarkerGrey;
                            transition: ease-out all 0.2s;
                            &:hover{
                                border-bottom:2px solid $mainLightGreen;
                            }
                        }
                    }
                    .item{
                        font-size:15px;
                        margin-bottom: 10px;
                        span{
                            font-weight: bold;
                        }
                    }
                    .item-location{
                        margin-bottom: 20px;
                         font-weight:300;
                    }
                    .edit-booking-btn-container{
                        margin-top:20px;
                        .edit-booking-link{
                             color:$mainDarkerGrey;
                            transition: ease-out all 0.2s;
                            &:hover{
                                cursor:pointer;
                                font-weight:bold;
                                // background: white;
                                // color:$mainLightGreen;
                                // border: 2px solid $mainLightGreen;
                            }
                        }
                    }
                    .delete-booking-btn-container{
                        margin-top:20px;
                        .delete-booking-btn{
                            // width:200px;
                            background: $mainLightGreen;
                            color:white;
                            padding:10px;
                            font-size:16px;
                            letter-spacing: 0.2px;
                            border: 2px solid transparent;
                            transition: ease-out all 0.2s;
                            &:hover{
                                cursor:pointer;
                                background: white;
                                color:$mainLightGreen;
                                border: 2px solid $mainLightGreen;
                            }
                        }
                    }
                }
            }
            .discover-btn-container{
                display:flex;
                justify-content:center;
                .discover-btn{
                    margin-top:20px;
                    background: $mainLightGreen;
                    color:$mainMidGreen;
                    padding:5px 10px;
                    font-size:16px;
                    letter-spacing: 0.2px;
                    border: 2px solid transparent;
                    transition: ease-out all 0.2s;
                    &:hover{
                        cursor:pointer;
                        background: white;
                        color:$mainLightGreen;
                        border: 2px solid $mainLightGreen;
                    }
                }
            }
        }
    }
}