.edit-booking-container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;    
    .card{
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        width:60%;
        padding:10px;
        #spot-box{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:55%;
            .spot-img{
                height:100%;
                img{
                     position:top;
                    height:290px;
                    object-fit: cover;
                    width:100%;
                }
            }
        }
        .edit-booking-box{
            #spot-name{
                font-size:22px;
                margin-bottom: 20px;
            }
            width:45%;
            .edit-form-container{
                .form-title{
                    font-size:16px;
                    font-weight:300;
                }
                display:flex;
                flex-direction:column;
                align-items: center;
                justify-content: center;
                .form-content{
                    width:300px;
                    display:flex;
                    flex-direction: column;
                    padding: 10px;
                    .date-box{
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 5px 0;
                        .label{
                            font-size: 16px;
                            width:130px;
                            font-weight:bold;
                        }
                        .DayPickerInput{
                            width:150px;
                            input{
                                width:100%;
                                border: black 1px solid;
                                padding: 10px 5px;
                                font-size: 18px;
                                text-align: center;
                                &:hover{
                                    cursor:pointer;
                                }
                            }
                        }
                    }
                    .guests{
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                        .guests-title{
                            font-weight:bold;
                        }
                        .guests-adjustment{
                            display:flex;
                            .box{
                                background-color: white;
                                 width:50px;;
                                border: black 1px solid;
                                padding: 10px 5px;
                                font-size: 18px;
                                text-align: center;
                            }
                            .guests-minus{
                               &:hover{
                                    cursor:pointer;
                                }
                            }
                            .guests-plus{
                                &:hover{
                                    cursor:pointer;
                                }
                            }
                        }
                    }
                    #errors{
                        margin:10px 0;
                        color:rgb(148, 26, 26);
                        text-align: center;
                    }
                    .edit-btn{
                        color:white;
                        background: $mainLightGreen;
                        width:100%;
                        padding: 15px 15px;
                        margin-top:15px;
                        font-size:18px;
                        letter-spacing: 0.2px;
                        border:2px solid transparent;
                        transition: all ease-out 0.3s;
                        &:hover{
                            color: $mainLightGreen;
                            background: white;
                            border:2px solid $mainLightGreen;
                            cursor: pointer; 
                        }
                    }
                }
            }
        }
    }
}