.navbar-container{
    background: #f7f7f7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px;
    position:sticky;
	top:0;
}
// position:sticky;
// 	top:0;

.nav-logo-image{
    color: black;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.nav-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    line-height: 1;
    // width:100%;
}

.nav-right {
    a{
        display:block;
        color:black;
        // padding-left: 20%;
        padding-top:auto;
        padding-bottom: auto;
        width:100%; 
        // transition: ease-out 0.3s all;
    }
}
.nav-right {
    a:hover{
        border-bottom:2px solid $mainLightGreen;
    }

}


