.navbar-container{
    background: white;
    height: 70px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px;
    position:fixed;
    top:0;
    z-index: 100;
}

.nav-logo-image{
    color: $mainAlmostBlack;
    font-size: 1.5rem;
    letter-spacing: 4px;
    span{
        color:$mainDarkGreen;
    }
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    li{
        margin:auto
    }
    a{
        color:$mainAlmostBlack;
        margin-left: 20px;
        text-align: center;
        // transition: ease-in all 0.2s;
        padding:2px;
        // cursor: pointer;
        &:hover{
            border-bottom:2px solid $mainLightGreen;
            cursor: pointer;
        }
    }
}
// .nav-right {
//     a:hover{
//         border-bottom:2px solid $mainLightGreen;
//     }

// }

.navbar-logout-btn{
    background: $mainLightGreen;
    color:white;
    border: 2px solid transparent;
    margin-left: 20px;
    padding:5px;
    transition: ease-out all 0.2s;
    &:hover{
        background: white;
        border: 2px solid $mainLightGreen;
        color: $mainLightGreen;
        cursor: pointer;
    }
}


