.review-index-container{
    background:rgb(209, 255, 231);
    .review-create-container{
        background:rgb(95, 111, 184);
        .review-form{
            border: 1px solid black;
            display:inline-block;
            padding:20px
        }
    }
}