.search-box-inner{
    position:relative;
}
.divider.text{
    color: grey;
    font-weight:300;
}
.DateRangePicker{
    width:25%;
    border:none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-left:10px;
    @media(max-width: 768px){
       display:none;
        // display:flex;
        // flex-direction: column;
    }
}
.DateRangePicker_picker__portal{
    background: transparent;
    position:absolute;
    top:90px; 
}
.DayPicker{
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    @media(max-width: 768px){
        width:500px;;
        display:flex;
        flex-direction: column;

    }
}
.DateRangePickerInput__withBorder{
    border:0;
}
.DatePicker__transitionContainer{
  @media(max-width: 768px){
        
        display:flex;
        flex-direction: column;
    }
}
.DatePicker__focusRegion{
  @media(max-width: 768px){
        
        display:flex;
        flex-direction: column;
    }
}

.DateInput_input{
    border-bottom:none;
    padding:14px;
    font-size:16px;
    color: grey;
}            
           
.DateRangePickerInput_arrow{
    display:none;
}
.DateRangePickerInput{
    display:flex;
}

.CalendarDay__selected_span {
    background: #40d9ac;
    border: 1px double #1D5242;
    color: #fff;
} 
.CalendarDay__hovered_span {
    background: #40d9ac;
    border: 1px double #1D5242;
    color: #fff;
}    
.CalendarDay__selected_end {
    background: rgb(24, 151, 141);
    border: 1px double #1D5242;
    color: #fff;
} 
.CalendarDay__selected_start:focus {
  outline: none;
}     
.CalendarDay__selected_end:focus {
  outline: none;
}    

