.splash-main{
    margin: 52px 32px;
    @media (min-width: 1200px){
        margin: 52px 100px;
    }
    @media (min-width: 1600px){
        margin: 52px 150px;
    }
}

.splash-main-title-box{
    width:60%;
    margin-bottom: 35px ;
}

.splash-main-title{
    font-size: 39.5px;
    font-weight: bold;
}

.splash-main-subtitle{
    font-size: 20px;
    font-weight: 300;
    margin-top: 24px;
    line-height: 1.5em;
}

.splash-main-search-box{
    width:100%;
    margin-bottom: 50px;
    .search-box-inner{
        display:flex;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        padding:17px;
        .search-box-inner-input{
            width: 48%;
            // box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
                box-shadow: 0 1px 2px rgba(0,0,0,0.08);
            display:flex;
            justify-content: center;
            text-align: center;
            span{
                margin:auto;
                padding-left: 10px;
            }
            .search-box-input{
                font-weight: 300;
                padding: 14px;
                font-size:16px;
                width: 100%;
                border:none;
                letter-spacing: 1px;
                // box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
            }
        }
        .search-box-input::-webkit-input-placeholder{
            color: grey;
            opacity: 1;
            font-weight: 400;
            font-size: 16px;
        }
        button{
            border-radius: 0;
            padding: 14px;
            border: none;
            width:16%;
            margin-left: 10px;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;
        }
        .search-box-dates{
            color:$mainLightGreen;
            background: $mainLightGreenBk;
            border:1px solid $mainLightGreen;
        }
        .search-box-all-listings{
            background: white;
            // color: #333333!important;
            // box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
            box-shadow: 0 1px 2px rgba(0,0,0,0.08);
        }
        .search-box-button{
            background:$mainLightGreen;
            color:white;
            border:2px solid transparent;
            font-size: 1rem;
            transition: ease-out all 0.2s;
            &:hover{
                color:$mainLightGreen;
                background: white;
                border:2px solid $mainLightGreen;
            }
        }
        // .search-box-all-listings{
        //     color: #333333!important;
        // }
    }
}

.splash-explore-box{
    margin-bottom: 60px;
    .image-box{
        position: relative;
    }
    .image-box-box{
        position: absolute;
        color:white;
        background: $mainDarkerGrey;
        font-size: 20px;
        // height:50%;
        width:30%;
        // transform: translate(-50%, -50%);
        top:25%;
        left:5%;
        z-index:100;
        display:flex; 
        justify-content:center;
        align-items:center;
        &:after{
            
            content: "";
            display: block;
            padding-bottom: 100%;

        }
    }
    .image-box-image{
        width:100%;
    }
}
